/* PANTALLA DE INICIO*/
.menu {
  width: 100vw;
  height: 100vh;
  background: #8ed6ff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}

.title {
  font-size: 4rem;
  font-weight: bold;
  color: #ffffff;
  text-shadow: 3px 3px #00000055;
  margin-bottom: 60px;
}

/* Botón play */
.play-btn {
  background: black;
  border: 3px solid white;
  color: white;
  font-size: 1.8rem;
  padding: 10px 30px;
  border-radius: 12px;
  cursor: pointer;
  transition: 0.2s;
}

.play-btn:hover {
  transform: scale(1.1);
  background: red;
}

/* Botón instructions */
.instru-btn {
  background: black;
  border: 3px solid white;
  color: white;
  font-size: 1.8rem;
  padding: 10px 30px;
  border-radius: 12px;
  cursor: pointer;
  transition: 0.2s;
}

.instru-btn:hover {
  transform: scale(1.1);
  background: red;
}

/* Botón credits */
.cred-btn {
  background: black;
  border: 3px solid white;
  color: white;
  font-size: 1.8rem;
  padding: 10px 30px;
  border-radius: 12px;
  cursor: pointer;
  transition: 0.2s;
}

.cred-btn:hover {
  transform: scale(1.1);
  background: red;
}

/* NUBES*/
.cloud {
  position: absolute;
  width: 90px;
  height: 90px;
  background: white;
  border-radius: 50%;
  opacity: 0.8;
}

.c1 { top: 80px; left: 120px; }
.c2 { top: 160px; left: 60vw; }
.c3 { top: 300px; left: 20vw; }
.c4 { top: 400px; left: 70vw; }
