.game-wrapper {
    width: 100vw;
    height: 100vh;
    background: #3fa0ff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-canvas {
    border: 4px solid #ffffff;
    border-radius: 10px;
    background: #4cb4ff;
}